.MoneyInput_input {
    padding: var(--betterplace-dimension--1);
    border: solid 1px var(--betterplace-color-gray-500);
    border-radius: 2px;

    &:hover:enabled {
        box-shadow: var(--betterplace-shadow-outer-neutral-soft-2);
    }

    &:focus {
        outline-style: solid;
        outline-color: var(--betterplace-color-green-800);
        outline-offset: 1px;
        outline-width: var(--betterplace-dimension--5);
    }

    &:invalid {
        border: solid 1px var(--betterplace-color-red-500);
    }
}

.MoneyInput_label {
    position: absolute;
    top:calc(var(--betterplace-paragraph-spacing-sm) * -1);
}
